/* statr Global Rules */

body {
    font-family: 'Open Sans', sans-serif;
    height: 5000px;
}

/*  start navbar */ 

.scrolled {
    background-color: rgba(0, 0,0, .5);
}

/* start header */

.header {
    
    background: url(../img/header.png) top center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;

}

.header .overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, .6);
}
.header .cent-vh{
    margin-top: 25vh;
}

.header h1 {
    font-size: 60px;
    font-weight: bold;
}
.header h1 span{
    color: #ff8b38;
    font-weight: 300;
}
.header h1 ~ .lead{
    font-size: 30px;

}
.header h1 ~ .lead::after{
    content: '';
    width: 60px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 20px 0px;
}
.header .bot-down {
    background: transparent;
    padding: 10px 30px;
    border: 2px solid #fff;
    margin: 10px 0px;
}
.header form {
    width: 360px;
    background-color: #fff;
    border-radius: 5px;
}
.header form h2 {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;
}
.header form h2 span {
    color: #ff8b38;
}
.header form .form-control{
    margin: 0px auto 10px;
    width: 80%;
    margin: 0px auto 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
}
.header form input[type="submit"]{
    background-color: #ff8b38;
    padding: 12px;

}
/* start social section*/
.social-section {
    padding: 10px;
    background-color: #fff;
    box-shadow: 10px 10px 25px #ccc;
}
.social-section h4 {
    font-weight: bold;
    padding-top: 10px;
}
.social-section p {
 color: #a1a1a1;
}
.social-section i {
    color: #ccc;
    margin: 10px 15px;
    padding-top: 10px;
    transition: all .3s ease-in-out ;
}
.social-section .fa-facebook:hover{
    color: #3b5998;
}
.social-section .fa-google-plus:hover{
    color: #dd4b39;
}
.social-section .fa-twitter:hover{
    color: #1da1f2;
}
.social-section .fa-pinterest-p:hover{
    color: #e60023;
}
.social-section .fa-instagram:hover{
    color: #c13584;
}
.social-section .fa-linkedin:hover{
    color: #0077b5;
}
.social-section .fa-rss:hover{
    color: #f26522;
}
/* end social section*/
/*  start tabs section*/ 

.tabs-section{
    padding: 50px 0px;
    background-color: #f5f5f5;
}
.tabs-section .tab-switch li {
    
    height: 110px;
    line-height: 110px;
    text-align: center;
    border-bottom: 1px solid #fff;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    
}
.tabs-section .tab-switch li.selected ,
.tabs-section .tab-switch li:hover {
    background-color: #ff8b38;
}
.tabs-section .tab-content h3 {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
}
.tabs-section .tab-content p {
    font-size: 18px;
    line-height: 1.5;
}
.tabs-section .tab-content button {
    background-color: #ff8b38 ;
    color: #fff;
    margin-top: 10px;
}

/*  start framework*/

.uppercase {
    text-transform: uppercase;
}